<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<!-- 	<parameter name="baseUrl" value="http://newtours.demoaut.com"/> -->

<!-- 	<listeners> -->
<!-- 		<listener class-name="org.webdriver.common.ScreenshotListener"/> -->
<!-- 	</listeners> -->

<suite name="AllSuites">

	<suite-files>
		<suite-file path="suite1.xml" />
<!-- 		<suite-file path="suite2.xml" /> -->
	</suite-files>
	
</suite>
